html {
    width: 100%;
    height: 100%;
    background: rgb(39, 39, 39);
    margin: auto;
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: auto;
    text-align: center;
}

header {
    width: 100%;
    height: 100px;
    background: pink;
}

main {
    height: 75%;
    width: 75%;
    background: white;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    margin-top: 35px;
    overflow: hidden;
}

#screen {
    background: black;
    height: 80px;
    width: 95%;
    margin: auto;
    margin-top: 14px;
}

.buttons {
    display: grid;
    width: 96%;
    height: 80%;
    background: seashell;
    margin: auto;
    margin-top: 15px;
}